body.admin-page {
  /* custom cho trang category */
  table[aria-label='Danh sách hãng'] {
    th,
    td:last-child {
      text-align: right;
    }

    th:last-child,
    td:last-child {
      width: 170px;
    }

    .admin-row-actions {
      justify-content: flex-end;
    }

    .btn--sm {
      white-space: nowrap;
    }
  }

  /* Nút "Thêm hãng" */
  section.admin-section__heading > .admin-section__actions > .btn--ghost {
    min-width: 150px;
  }
}
