@charset "UTF-8";
body.admin-page {
  /* custom cho trang category */
}
body.admin-page table[aria-label="Danh sách hãng"] th,
body.admin-page table[aria-label="Danh sách hãng"] td:last-child {
  text-align: right;
}
body.admin-page table[aria-label="Danh sách hãng"] th:last-child,
body.admin-page table[aria-label="Danh sách hãng"] td:last-child {
  width: 170px;
}
body.admin-page table[aria-label="Danh sách hãng"] .admin-row-actions {
  justify-content: flex-end;
}
body.admin-page table[aria-label="Danh sách hãng"] .btn--sm {
  white-space: nowrap;
}
body.admin-page {
  /* Nút "Thêm hãng" */
}
body.admin-page section.admin-section__heading > .admin-section__actions > .btn--ghost {
  min-width: 150px;
}
